body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}

header {
  background-color: #04aa6d;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
header h1 {
  margin: 0;
  margin-bottom: 0;
}
h2,h3{
  margin-bottom:0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration-color: black;
  text-decoration: underline;
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
/* input[type="text"],
input[type="password"]  */
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Set a style for all buttons */
button {
  background-color: #008ffc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}


/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
.product {
  /* display: inline-block; */
  width: 300px;
  height: 650px;
  margin: 4px;
  border: 2px solid black;
  padding: 10px;
  display: grid,flex;
  grid-template-columns: 120px 120px 120px;
  align-items:flex-start;
  justify-content: space-between;
}
.product-name{
  max-width: 100%;
  height: auto;
  margin-bottom: 00px;
  width:285px;
  height:25px;
  
}
.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 00px;
  width: 275px;
  height: 260px;
  /* object-fit: cover;   */
}

.product-price {
  font-weight: bold;
  margin-bottom: 0;
  font-size: auto;
  height: 20px;
  width: 285px;
}

.product-description {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: auto;
  height: 150px;
  width: 285px;
}

form {
  display: flex;
  flex-direction: column;
  
}

form label {
  margin-bottom: 10;
}
a{
  color: white;
  
}